:root {
  --light-grey: #f0f0f0;
  --dark-blue: #222831;
  --primary-blue: #30475e;
  --secondary-blue: #3a4750;
  --primary-yellow: #f9a826;
  --secondary-yellow: #f08a24;
  --light-pink: #ff758f;
  --dark-red: #d72323;
  --light-green: #8dd8a3;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--primary-blue);
  color: var(--light-grey);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: var(--primary-yellow);
}

.container {
  width: 95%;
  max-width: 960px;
  max-height: 80vh;
  background-color: var(--secondary-blue);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
  color: var(--primary-yellow);
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--primary-yellow);
  border: 2px solid var(--secondary-yellow);
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: var(--secondary-yellow);
  transform: translateY(-2px);
}

.clear {
  background-color: var(--light-pink);
  color: var(--dark-red);
  border-color: var(--dark-red);
}

button,
input,
select {
  min-height: 36px;
  color: var(--dark-blue);
  font-size: 1em;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--dark-blue);
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

button:hover,
input:focus,
select:focus {
  border-color: var(--primary-yellow);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-green);
}

.deficit {
  color: var(--light-pink);
}
